streamlit

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters

faiss-cpu

sentence-transformers
transformers
huggingface-hub

pymupdf
docx2txt

pandas
numpy

python-dotenv

google-generativeai
